body
{
 font-family: century gothic;
}
@font-face
 {
  font-family: 'century gothic';
  src: url(ufonts.com_century-gothic.ttf);
}
.hautdepage
{
  background-color: grey
}
.clear
{
  clear: both;
}
.nom
{
text-align: center;
}
.infos_persos
{
  float: left;
  width: 90%;
}
.photo
{
  width: 10%;
  float: left;
}
.adresse_et_numero_de_tel
{
  text-align:right;
}
.contenuh2
{
  text-align: justify;
  border-top: solid;
  border-color: blue;
  border-width: thick;
  background-image: url(fond-cv-papier-white.jpg);
}
.contenuh2 span
{
  border-bottom: solid black;
}
#icone_diplome
{
  width: 30px;
}
#icone_experience
{
  width: 30px;
}
#icone_competences
{
  width: 30px;
}
#icone_loisirs
{
  width: 30px;
}
h1
{
  text-align: center;
  color : black;
}


#BEP
{
  color: blue;
}
#BAC
{
  color: blue;
}
.dates
{
  margin-bottom: 10px
}
